/************************************
************** Pet Card ***************
************************************/

.pet-card {
    border: none;
    margin: 0rem 1rem !important;
    box-shadow: none !important;
    text-align: center;
    height: 100%;
}

div.pet-overview>* {
    margin: 0em 1em;
}

.ui.medium.image.listing-image {
  max-height: 258px;
}
/************************************
************** Filter ***************
************************************/

.pet-filter {
    background-color: #e7e7e7;
    padding: 1rem;
}

.ui.button.filter-button {
    background: #e7e7e7 none;
}

.filter-text {
    margin-right: 0.8rem;
}

/************************************
************** NavBar ***************
************************************/

html {
    font-size: 62.5%;
}

.navbar-top {
    margin-bottom: 0;
    z-index: 2000;
}

.navbar-side {
    height: 100%;
    max-width: 20rem;
    font-size: 14pt;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 3000;
}

@media (min-width: 320px) {
    .navbar-side {
        width: 80%;
    }
}

.navbar-side-item {
    margin-bottom: .2rem;
    height: 2rem;
    font-weight: 300;
}

.navbar-side-item {
    padding: 1.5rem 0 4rem 1.5rem;
}

@media (min-width: 320px) and (max-width: 484px) {
    .navbar-side {
        width: 85%;
    }
    .navbar-side-item {
        padding: 1.5rem 0 4rem 0;
    }
    .navbar-side-item a {
        font-size: 14pt;
    }
}

.navbar-side-item:hover {
    background-color: #ffd3b6;
}

.navbar-side-item a {
    display: inline-block;
}

.side-link {
    padding-left: 1.7rem;
    padding-right: 1.2rem;
    color: #5f5f5f;
}

a, .side-link:active, .side-link:hover {
    padding-top: 0.5rem;
    text-decoration: none !important;
    color: #5f5f5f;
}

.navbar-side {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 400ms ease;
    transition: 400ms ease;
}

.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 400ms ease;
    transition: 400ms ease;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #5f5f5f;
    opacity: .6;
    z-index: 2000;
}

/************************************
*************** Home ****************
************************************/
.text-custom-color {
    color: #a8e6cf !important;
    font-weight: 800 !important;
}
.small-font {
    line-height: 20pt !important;
    font-size: 9pt !important;
}
.small-font2 {
    line-height: 20pt !important;
    font-size: 12pt !important;
}
/************************************
************ All Pages **************
************************************/

body {
    font-family: 'Spartan', sans-serif !important;
    color: #5f5f5f !important;
    font-size: 12pt !important;
    letter-spacing: 2px;
}

a {
    color: #5f5f5f !important;
}

/************************************
*********** User Profile ************
************************************/

@media (min-width:961px) {
    .scroll-style {
        height: calc( 100vh - 250px);
        overflow-y: scroll;
    }
}

/************************************
********* Upload listing ************
************************************/

.btn-custom, .btn-custom:hover {
    background-color: #a8e6cf !important;
    border-radius: 25px !important;
    background-image: none !important;
    width: 100px !important;
}

.btn-custom2, .btn-custom2:hover {
    background-color: #ffd3b6 !important;
    border-radius: 25px !important;
    background-image: none !important;
    width: 100px !important;
}

@media (max-width:961px) {
    .scroll-style2 {
        height: calc( 100vh - 400px);
        overflow-y: scroll;
    }
}

/************************************
******** Sign-in Sign-up ***********
************************************/

.caption {
    font-size: 10pt;
}

#signup-page {
    margin-top: 200px;
}

#signin-page {
    margin-top: 200px;
}

#salmon-pink-text {
    color: #ff8b94 !important;
}

#segment-background {
    background-color: #dcedc1 !important;
}

.paragraph {
    margin-top: 38px;
}

/************************************
************ List Pets **************
************************************/
.button-custom-heart {
    background-position: top center !important;
    background-image: url('/images/profile-heart.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
    height: 25px !important;
    top: -5px !important;
}

.btn-custom3, .btn-custom3:hover {
    background-color: #ff8b94 !important;
    border-radius: 25px !important;
    background-image: none !important;
    width: 100px !important;
}

label {
    font-weight: lighter !important;
    line-height: 12pt !important;
}

.bold {
    font-weight: 600 !important;
}

.ui.checkbox {
    padding-left: 0px !important;
}

.text-input, .text-input:focus {
    border-top-style: 0.5px solid #5f5f5f !important;
    border-right-style: 0.5px solid #5f5f5f !important;
    border-left-style: 0.5px solid #5f5f5f !important;
    border-bottom-style: 0.5px solid #5f5f5f !important;
    background-color: #fff;
}

input[type="text"] {
    height: 38px !important;
}

